<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qiuzhizhushou.wechat.mapper.ArticleMapper">
    <resultMap id="articleAuthorTagMap" type="cn.qiuzhizhushou.wechat.model.Article">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
    </resultMap>
    <select id="list" resultType="cn.qiuzhizhushou.wechat.model.Article">
        select article.id, article.title, article.content, author.name as 'author.name', author.dynasty as
        'author.dynasty'
        from article , author
        where article.author_id = author.id limit 10
    </select>
    <!--  根据id文章查询  -->
    <select id="findById" resultMap="articleWithAuthorAndQuotes">
        select * from article where id = #{id}
    </select>
    <select id="search" resultType="cn.qiuzhizhushou.wechat.model.Article">
        select article.id, article.title, author.name as 'author.name', author.dynasty as 'author.dynasty'
        from article , author
        where article.author_id = author.id and article.title like CONCAT('%',#{value},'%') limit 10
    </select>

    <!-- 根据作者id获取文章列表 -->
    <select id="selectByAuthorId" resultType="cn.qiuzhizhushou.wechat.model.Article">
        select
        article.id, article.title, article.content, author.name as 'author.name', author.dynasty as 'author.dynasty'
        from
        article , author
        where article.author_id = author.id
        and author.id = #{authorId}
        limit #{offset}, 10

    </select>

    <!-- 根据id数组获取文章 -->
    <select id="selectByIds" resultType="cn.qiuzhizhushou.wechat.model.Article">
        select
        article.id, article.title, article.content, author.name as 'author.name', author.dynasty as 'author.dynasty',
        author.id as 'author.id'
        from article , author
        where article.author_id = author.id
        and article.id in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 根据标签id获取文章列表 -->
    <select id="selectByTagId" resultType="cn.qiuzhizhushou.wechat.model.Article">
        select
        article.id, article.title, article.content, author.name as 'author.name', author.dynasty as 'author.dynasty'
        from
        article, author, article_tag_map
        where article.author_id = author.id and article.id = article_tag_map.article_id
        and article_tag_map.tag_id = #{tagId}
        limit #{offset}, 10
    </select>

    <!--  根据id查询文章包含作者名言  -->
    <resultMap id="articleWithAuthorAndQuotes" type="cn.qiuzhizhushou.wechat.model.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <association property="author"
                     column="author_id"
                     fetchType="lazy"
                     select="cn.qiuzhizhushou.wechat.mapper.AuthorMapper.findById"
        >
        </association>
        <collection property="quotes"
                    column="id"
                    select="cn.qiuzhizhushou.wechat.mapper.QuoteMapper.findByArticleId"
                    fetchType="lazy"
        >

        </collection>
    </resultMap>

</mapper>