<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qiuzhizhushou.wechat.mapper.ArticleCollectionMapper">
    <insert id="save" parameterType="cn.qiuzhizhushou.wechat.model.ArticleCollection">
        insert into collection(article_id, user_id, status, created_at)
        value (#{articleId}, #{userId}, #{status}, #{createdAt})
    </insert>
    <update id="update" parameterType="cn.qiuzhizhushou.wechat.model.ArticleCollection">
        update collection
        <trim prefix="set" suffixOverrides=",">
            <if test="status!=null">status=#{status},</if>
            <if test="updatedAt==null">updated_at= DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s'),</if>
        </trim>
        where id = #{id}
    </update>

    <select id="findByUidAndArticleId" resultType="cn.qiuzhizhushou.wechat.model.ArticleCollection">
        select *
        from collection
        where user_id = #{userId} and article_id = #{articleId} limit 1
    </select>
    <select id="list" resultType="java.util.HashMap">
        select c.article_id, a.title, au.name, au.dynasty
        from
          collection c
        inner join article a on c.article_id = a.id
        left join author au on au.id = a.author_id
        where
          user_id = #{userId} and status = 1
        order
          by c.id desc
        limit
          #{offset}, 10
    </select>
</mapper>