<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qiuzhizhushou.wechat.mapper.CollectionMapper">
    <insert id="save" parameterType="cn.qiuzhizhushou.wechat.model.Collection">
        insert into collection(article_id, user_id, status, created_at)
        value (#{articleId}, #{userId}, #{status}, #{createdAt})
    </insert>
    <update id="update">
        update collection
        <trim prefix="set" suffixOverrides=",">
            <if test="status!=null">status=#{status},</if>
            <if test="updatedAt==null">updated_at= DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s'),</if>
        </trim>
        where id = #{id}
    </update>

    <select id="selectByUid" resultType="cn.qiuzhizhushou.wechat.model.Collection">
        select *
        from collection
        where user_id = #{userId} and status = 2 limit 20
    </select>
    <select id="findByUidAndArticleId" resultType="cn.qiuzhizhushou.wechat.model.Collection">
        select id
        from collection
        where user_id = #{userId} and article_id = #{articleId} and status = 1 limit 1
    </select>
</mapper>