<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qiuzhizhushou.wechat.mapper.SignMapper">
    <insert id="save" parameterType="cn.qiuzhizhushou.wechat.model.Sign">
        insert into sign(user_id, created_at)
        values (#{userId}, #{createdAt})
    </insert>

    <select id="find" resultType="cn.qiuzhizhushou.wechat.model.Sign">
        select id, user_id from sign where id = #{id}
    </select>
    <!-- todo 传入时间参数未搞定 -->
    <select id="findByUserIdAndDate" resultType="cn.qiuzhizhushou.wechat.model.Sign">
        select id, user_id
        from sign
        where user_id = #{user_id} and created_at &gt; #{today}
    </select>
</mapper>