<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qiuzhizhushou.wechat.mapper.SignMapper">
    <insert id="save" parameterType="cn.qiuzhizhushou.wechat.model.Sign">
        insert into sign(user_id, created_at)
        values (#{userId}, #{createdAt})
    </insert>

    <select id="find" resultType="cn.qiuzhizhushou.wechat.model.Sign">
        select id, user_id from sign where id = #{id}
    </select>
    <!-- todo 传入时间参数未搞定 -->
    <select id="findByUserIdAndDate" resultType="cn.qiuzhizhushou.wechat.model.Sign">
        select id, user_id
        from sign
        where user_id = #{userId} and created_at &gt; DATE_FORMAT(NOW(),'%Y-%m-%d')
    </select>
    <select id="getRankToday" resultType="cn.qiuzhizhushou.wechat.model.Sign">
        select
          sign.id, sign.created_at, user.id as 'user.id',
          user.nickname as 'user.nickname', user.avatar_url as 'user.avatarUrl'
        from sign, user
        where
          sign.user_id = user.id and
          sign.created_at &gt; DATE_FORMAT(NOW(),'%Y-%m-%d')
        order by
          sign.id asc
        limit 20
    </select>
    <select id="monthSignNumOfDays" resultType="java.lang.Integer">
        select count(id)
        from sign
        where
          created_at >  DATE_FORMAT(NOW(),'%Y-%m')
          and user_id = #{userId}
    </select>

    <resultMap id="signWithUser" type="cn.qiuzhizhushou.wechat.model.Sign">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="createdAt" column="create_at"/>
        <association property="user"
                     column="user_id"
                     fetchType="eager"
                     select="cn.qiuzhizhushou.wechat.mapper.UserMapper.find"
        >
        </association>
    </resultMap>
</mapper>