<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qiuzhizhushou.wechat.mapper.SignMapper">

    <select id="find" resultType="cn.qiuzhizhushou.wechat.model.Sign">
        select id, user_id from sign where id = #{id}
    </select>
    <select id="findByUserIdAndDate" resultType="cn.qiuzhizhushou.wechat.model.Sign">
        select id, user_id from sign where id = #{id} and created_at > #{date}
    </select>
</mapper>